@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
}

.card {
  display: flex;
  z-index: 1;
  background-color: white;
  width: 25rem;
  height: 15rem;
  border-radius: 0.5rem;
  flex-direction: column;
  position: absolute;
  transition: ease-out;
  transition-duration: 0.5s;
  box-shadow: #312e81 0px 5px 15px;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex: 0.3;
}

.hiddenHeader {
  display: none;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  padding-right: 20px;
  padding-top: 10px;
}

.title p {
  font-size: 14px;
}
.img {
  border-radius: 100%;
  overflow: hidden;
  border-color: crimson;
  box-shadow: #312e81 0px 5px 15px;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: -3rem;
  left: 3rem;
  background-color: white;
  object-fit: cover;
  cursor: pointer;
}

.description {
  display: block;
  padding: 1.5rem;
}

.hiddenDescription {
  display: none;
}

.rightCard {
  right: 5rem;
  top: 22rem;
}

.middleCard {
  right: 35rem;
  top: 8rem;
}

.leftCard {
  right: 50rem;
  top: 22rem;
}

.hiddenCard {
  background-color: transparent;
  box-shadow: none;
}

.description {
  font-weight: 500;
  font-size: 18px;
}
